@using WebMatrix.Data
@{
    var db = Database.Open("BoardGame");
    var id = Request.QueryString["id"];
    if (IsPost)
    {
        var usql = "update BOARDGAME set name = @1,  description=@2, gameweight=@3, minplayers=@4, maxplayers=@5, languageease=@6, comagerec=@7 where bggid=@0";
        var ugame = db.Execute(usql, id, Request.Form["uName"],
    Request.Form["uDescription"],
    Convert.ToDouble(Request.Form["uGameWeight"]),
    Convert.ToInt32(Request.Form["uMinPlayers"]),
    Convert.ToInt32(Request.Form["uMaxPlayers"]),
    Convert.ToDouble(Request.Form["uComAgeRec"]),
    Convert.ToDouble(Request.Form["uLanguageEase"]), Request.QueryString["id"]
    );
        if (ugame > 0)
        {<h2><strong>UPDATED</strong></h2> } }
        var game = db.QuerySingle(@"
SELECT b.BGGId, b.Name, b.Description, b.GameWeight, b.MinPlayers, b.MaxPlayers, b.LanguageEase, b.ComAgeRec,
c.Category, b.ImagePath
FROM BoardGame b
LEFT JOIN GameCategory gc ON b.BGGId = gc.BGGId
LEFT JOIN Category c ON gc.Category = c.CategoryID
WHERE b.BGGId = @0
", id);
    }
@if (game != null)
{
    
    <form action="Edit?id=@game.BGGId" method="post">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <img src="@game.ImagePath" class="card-img-top" alt="@game.Name image" style="height:300px; object-fit:cover;">
                    <div class="card-body">
                        <h3 class="card-title text-center">@game.Name</h3><br /> <input type="text" name="uName" value="@game.Name" /><br />
                        <p class="card-text">
                            <strong>Category:</strong> @(game.Category ?? "N/A")<br /> <input type="text" name="uCategory" value="@game.Category" /><br />
                            <strong>Description:</strong>@game.Description<br /> <input type="text" name="udescription" value="@game.Description" /><br />
                            <strong>Game Weight:</strong>@game.GameWeight<br /> <input type="number" name="uGameWeight" value="@game.GameWeight" /><br />
                            <strong>Min Players:</strong>@game.MinPlayers<br />  <input type="number" name="uMinPlayers" value="@game.MinPlayers" /><br />
                            <strong>Max Players:</strong>@game.MaxPlayers<br /> <input type="number" name="uMaxPlayers" value="@game.MaxPlayers" /><br />
                            <strong>Language Ease:</strong>@game.LanguageEase<br /> <input type="number" name="uLanguageEase" value="@game.LanguageEase" /><br />
                            <strong>Com Age Rec:</strong>@game.ComAgeRec<br /> <input type="number" name="uComAgeRec" value="@game.ComAgeRec" /><br />
                            <input type="submit" value="Update" />

                        </p>
                        <div class="text-center">
                            <a href="/Home/Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <p class="text-center text-muted mt-5">Board game not found.</p>
}



